extends layout

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box


        //- interpolation to dynamically add the project title
        h1 #{project_name}

        //- interpolation to dynamically  project description
        p #{description}

      .project-tech-links-box.box
        h6 Technologies
        ul

          //- iterator and interpolation to dynamically add the li tags 
          each technology in technologies 
            li= technology 

        //- interpolation to dynamically add the href values to the links below
        a.btn-link(href=live_link target="_blank") Live Demo
        a.btn-link(href=github_link target="_blank") GitHub Repo

    .project-img-box.box

      //- Project images, and descriptions for alt attributes
      img.project-img(src=img1, alt='Screeshot 1')
      img.project-img(src=img2, alt='Screenshot 2')
      img.project-img(src=img3, alt='Screenshot 3')

    nav.nav
      a(href='/')
        span &larr;
        |  Back
